body {
    text-align: center;
    font-family: 'Noto Serif', serif;
    width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 4em;
    margin-bottom: 0px;
    color: black;
}

a {
    color: grey;
}
a.visited {
    color: grey;
}

hr {
    width:75%;
}

#hr_footer {
    width:75%;   
}

footer {
    clear: left;
    font-size:8px;
    color: grey;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
    border: 0px solid black;
}

th {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

td.key {
    border: 1px solid black;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}

td.value {
    border: 1px solid black;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}

div.searchResults {
    width: 800px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}